<div class="vegetable">
    <div class="vegetable-img">

    </div>

    <div class="vegetable-info">
        <div class="vegetable-name">
            <h4>Name: </h4>
            <p><%= item.name %></p>
        </div>

        <div class="vegetable-price">
            <h4>Price: </h4>
            <p><%= item.price_per_kilo %></p>
        </div>

        <div class="vegetable-kilos">
            <h4>Total kilos available: </h4>
            <p><%= item.quantity %></p>
        </div>

        <div class="vegetable-farmer-name">
            <h4>Farmer Name: </h4>
            <p><%= Farmer.find(item.farmer_id).name %> </p>
        </div>

        <div id="vegetable-add0" class="vegetable-add">
            <button class="vegetable-add-btn">Add to cart</button>
        </div>

        <div id="vegetable-add-form0" class="vegetable-add-form">
            <input type="number" placeholder="Quantity" />
            <input type="submit" value="Add" />
        </div>
    </div>
</div>