<div class="buy-fruits">
    <div class="search-container">
      <h2>Fruits</h2>
      <form>
        <input type="text" placeholder="fruit name" />
        <input type="text" placeholder="Farmer name" />
        <input type="submit" />
      </form>
    </div>

    <div class="fruit-result-container">
      <h3>Search Results</h3>
      <div class="fruit-result">

        <div class="fruit">
          <div class="fruit-img">

          </div>

          <div class="fruit-info">
            <div class="fruit-name">
              <h4>Name: </h4>
              <p>Potato</p>
            </div>

            <div class="fruit-price">
              <h4>Price: </h4>
              <p>40</p>
            </div>

            <div class="fruit-kilos">
              <h4>Total kilos available: </h4>
              <p>100</p>
            </div>

            <div class="fruit-farmer-name">
              <h4>Farmer Name: </h4>
              <p>Puneet Garg</p>
            </div>

            <div id="fruit-add0" class="fruit-add">
              <button class="fruit-add-btn">Add to cart</button>
            </div>

            <div id="fruit-add-form0" class="fruit-add-form">
              <input type="number" placeholder="Quantity" />
              <input type="submit" value="Add" />
            </div>
          </div>
        </div>

        <div class="fruit">
          <div class="fruit-img">

          </div>

          <div class="fruit-info">
            <div class="fruit-name">
              <h4>Name: </h4>
              <p>Potato</p>
            </div>

            <div class="fruit-price">
              <h4>Price: </h4>
              <p>40</p>
            </div>

            <div class="fruit-kilos">
              <h4>Total kilos available: </h4>
              <p>100</p>
            </div>

            <div class="fruit-farmer-name">
              <h4>Farmer Name: </h4>
              <p>Puneet Garg</p>
            </div>

            <div id="fruit-add1" class="fruit-add">
              <button class="fruit-add-btn">Add to cart</button>
            </div>

            <div id="fruit-add-form1" class="fruit-add-form">
              <input type="number" placeholder="Quantity" />
              <input type="submit" value="Add" />
            </div>
          </div>
        </div>

        <div class="fruit">
          <div class="fruit-img">

          </div>

          <div class="fruit-info">
            <div class="fruit-name">
              <h4>Name: </h4>
              <p>Potato</p>
            </div>

            <div class="fruit-price">
              <h4>Price: </h4>
              <p>40</p>
            </div>

            <div class="fruit-kilos">
              <h4>Total kilos available: </h4>
              <p>100</p>
            </div>

            <div class="fruit-farmer-name">
              <h4>Farmer Name: </h4>
              <p>Puneet Garg</p>
            </div>

            <div id="fruit-add2" class="fruit-add">
              <button class="fruit-add-btn">Add to cart</button>
            </div>

            <div id="fruit-add-form2" class="fruit-add-form">
              <input type="number" placeholder="Quantity" />
              <input type="submit" value="Add" />
            </div>
          </div>
        </div>

        <div class="fruit">
          <div class="fruit-img">

          </div>

          <div class="fruit-info">
            <div class="fruit-name">
              <h4>Name: </h4>
              <p>Potato</p>
            </div>

            <div class="fruit-price">
              <h4>Price: </h4>
              <p>40</p>
            </div>

            <div class="fruit-kilos">
              <h4>Total kilos available: </h4>
              <p>100</p>
            </div>

            <div class="fruit-farmer-name">
              <h4>Farmer Name: </h4>
              <p>Puneet Garg</p>
            </div>

            <div id="fruit-add3" class="fruit-add">
              <button class="fruit-add-btn">Add to cart</button>
            </div>

            <div id="fruit-add-form3" class="fruit-add-form">
              <input type="number" placeholder="Quantity" />
              <input type="submit" value="Add" />
            </div>
          </div>
        </div>

        <div class="fruit">
          <div class="fruit-img">

          </div>

          <div class="fruit-info">
            <div class="fruit-name">
              <h4>Name: </h4>
              <p>Potato</p>
            </div>

            <div class="fruit-price">
              <h4>Price: </h4>
              <p>40</p>
            </div>

            <div class="fruit-kilos">
              <h4>Total kilos available: </h4>
              <p>100</p>
            </div>

            <div class="fruit-farmer-name">
              <h4>Farmer Name: </h4>
              <p>Puneet Garg</p>
            </div>

            <div id="fruit-add4" class="fruit-add">
              <button class="fruit-add-btn">Add to cart</button>
            </div>

            <div id="fruit-add-form4" class="fruit-add-form">
              <input type="number" placeholder="Quantity" />
              <input type="submit" value="Add" />
            </div>
          </div>
        </div>

        <div class="fruit">
          <div class="fruit-img">

          </div>

          <div class="fruit-info">
            <div class="fruit-name">
              <h4>Name: </h4>
              <p>Potato</p>
            </div>

            <div class="fruit-price">
              <h4>Price: </h4>
              <p>40</p>
            </div>

            <div class="fruit-kilos">
              <h4>Total kilos available: </h4>
              <p>100</p>
            </div>

            <div class="fruit-farmer-name">
              <h4>Farmer Name: </h4>
              <p>Puneet Garg</p>
            </div>

            <div id="fruit-add5" class="fruit-add">
              <button class="fruit-add-btn">Add to cart</button>
            </div>

            <div id="fruit-add-form5" class="fruit-add-form">
              <input type="number" placeholder="Quantity" />
              <input type="submit" value="Add" />
            </div>
          </div>
        </div>

      </div>
    </div>
</div>

<script src="buy.js"></script>