<div class="cart">
    <h2>Your cart</h2>
    <div class="cart-items-container">
      <div class="items">
        <% for item in @items%>
          <%= render partial: "item" , locals: {
            item: item
          } %>
        <% end %>
      </div>
    </div>
</div>

<script src="buy.js"></script>