<div class="cart">
    <h2>Your cart</h2>
    <div class="cart-items-container">
      <div class="items">
        <%= render partial: "item" %>
        <%= render partial: "item" %>
        <%= render partial: "item" %>
        <%= render partial: "item" %>
      </div>
    </div>
</div>

<script src="buy.js"></script>