body {
  /* background: #071a52; */
  height: 100vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.inside {
  /* margin-top: 0px; */
  width: 90%;
  height: 500px;
  border: 1px solid #a7ff83;
}

p {
  margin: 20px;
  font-size: 20px;
  color: #F7D070;
}

button {
  background: #a7ff83;
  margin: 50px;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  font-size: 18px;
}