<div class = "home">
  <div class = "first-section">
    <div class = "information">
      <div>
        <div>
          <p> We bring nature to you </p>
        </div>
        <div class = "signup-signin-btn">
          <button> Sign up or sign in </button>
        </div>
      </div>
    </div>

    <div class = "images">

    </div>
  </div>
</div>