<div class = "home">
  <div class = "first-section">
    <div class = "information">
      <div>
        <div>
          <p> We bring nature to you </p>
        </div>
        <div class = "signup-signin-btn">
          <%= link_to "Sign up or sign in as farmer", new_farmer_path %> <br/>
          <%= link_to "Sign up or sign in as buyer", new_buyer_path %>
        </div>
      </div>
    </div>

    <div class = "images">

    </div>
  </div>
</div>