
<div class="items">
    <div class="items-heading">
        <h3><%= heading %>s</h3>
        <a href="#">View more</a>
    </div>
    <div class="main-items">
        <% for item in items %>
            <%= render partial: "item", locals: {
                item: item
            } %>
        <% end %>
    </div>
</div>