<div class="item">
    <div class="item-img">

    </div>
    <div class="item-info">
        <div class="item-name">
            <%= item.name %>
        </div>
        <div class="item-quantity">
            <h3>Quantity</h3>
            <p><%= item.quantity %>kg</p>
        </div>
        <div class="item-price">
            <h3>Price</h3>
            <p><%= item.price_per_kilo %>Rs.</p>
        </div>
    </div>
</div>