<div class="item">
    <div class="item-img">

    </div>
    <div class="item-info">
        <div class="item-name">
            <%= heading %>
        </div>
        <div class="item-quantity">
            <h3>Quantity</h3>
            <p>250kg</p>
        </div>
        <div class="item-price">
            <h3>Price</h3>
            <p>100Rs.</p>
        </div>
    </div>
</div>