/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


div.navbar {
    display: flex;
}

div.navbar div.logo-img {
    flex: 30%;
}

div.navbar img {
    height: 50px;
}

div.navbar div.navbar-links {
    margin-right: 50px;
    flex: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid; */
}

div.navbar a {
    text-decoration: none;
    color: #071a52;
    font-size: 22px;
    font-weight: 600;
    font-family: 'Didact Gothic', sans-serif;
    transition: 0.5s;
}

div.navbar a:hover {
    color: #a7ff83;
}